<a href="https://colab.research.google.com/github/noahgift/python-devops-course/blob/master/Python_for_DevOps-10-07-2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for DevOps**

![Python for DevOps](https://images-na.ssl-images-amazon.com/images/I/51pv-GUo2DL._SX379_BO1,204,203,200_.jpg)

## Pragmatic AI Labs

![alt text](https://paiml.com/images/logo_with_slogan_white_background.png)

This notebook was produced by [Pragmatic AI Labs](https://paiml.com/).  You can continue learning about these topics by:


* [Testing in Python ](http://leanpub.com/testinginpython/c/Yrv4sFCIUMd6)
* [Cloud Computing for Data Analysis](http://leanpub.com/cloud4data/c/SFInsbdIiLl2)  
*   Buying a copy of [Python for DevOps:  Learn Ruthlessly Effective Automation](https://www.amazon.com/Python-DevOps-Ruthlessly-Effective-Automation/dp/149205769X)
*   Buying a copy of [Pragmatic AI: An Introduction to Cloud-Based Machine Learning](http://www.informit.com/store/pragmatic-ai-an-introduction-to-cloud-based-machine-9780134863917)

*   Reading an online copy of [Python for DevOps: Learn Ruthlessly Effective Automation](https://learning.oreilly.com/library/view/python-for-devops/9781492057680/)
*   Reading an online copy of [Pragmatic AI: An Introduction to Cloud-Based Machine Learning](https://www.safaribooksonline.com/library/view/pragmatic-ai-an/9780134863924/)

*   Viewing more content at [noahgift.com](https://noahgift.com/)

### Additional Related Topics from Noah Gift

His most recent books are:

*   [Pragmatic A.I.:   An introduction to Cloud-Based Machine Learning (Pearson, 2018)](https://www.amazon.com/Pragmatic-AI-Introduction-Cloud-Based-Analytics/dp/0134863860)
*   [Python for DevOps (O'Reilly, 2020)](https://www.amazon.com/Python-DevOps-Ruthlessly-Effective-Automation/dp/149205769X). 

His most recent video courses are:

*   [Essential Machine Learning and A.I. with Python and Jupyter Notebook LiveLessons (Pearson, 2018)](https://learning.oreilly.com/videos/essential-machine-learning/9780135261118)
*   [AWS Certified Machine Learning-Specialty (ML-S) (Pearson, 2019)](https://learning.oreilly.com/videos/aws-certified-machine/9780135556597)
*   [Python for Data Science Complete Video Course Video Training (Pearson, 2019)](https://learning.oreilly.com/videos/python-for-data/9780135687253)
*   [AWS Certified Big Data - Specialty Complete Video Course and Practice Test Video Training (Pearson, 2019)](https://learning.oreilly.com/videos/aws-certified-big/9780135772324)
*   [Building A.I. Applications on Google Cloud Platform (Pearson, 2019)](https://learning.oreilly.com/videos/building-ai-applications/9780135973462)
*   [Pragmatic AI and Machine Learning Core Principles (Pearson, 2019)](https://learning.oreilly.com/videos/pragmatic-ai-and/9780136554714)
*   [Data Engineering with Python and AWS Lambda (Pearson, 2019)](https://learning.oreilly.com/videos/data-engineering-with/9780135964330)

His most recent online courses are:

*   [Microservices with this Udacity DevOps Nanodegree (Udacity, 2019)](https://www.udacity.com/course/cloud-dev-ops-nanodegree--nd9991)
*   [Command Line Automation in Python (DataCamp, 2019)](https://www.datacamp.com/instructors/ndgift)

## Introduction to Python for DevOps

### Presentation: What is DevOps anyway?

According to AWS these are [DevOps Practices](https://aws.amazon.com/devops/what-is-devops/):

* Continuous Integration
* Continuous Delivery
* Microservices
* Monitoring and Logging (Use Data to make decisions)
* Communication and Collaboration

bold text### Using IPython, Jupyter, Colab and Python executable

#### Using IPython

Very similar to Jupyter, but run from terminal:

*   IPython predates Jupyter
*   Both Jupyter and IPython accept *!ls -l* format to execute shell commands

In [1]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Sep 30 17:12 sample_data

In [2]:
var = !ls -l
type(var)

IPython.utils.text.SList

In [4]:
#var.fields?

In [5]:
var.grep("data")

['drwxr-xr-x 1 root root 4096 Sep 30 17:12 sample_data']

#### Jupyter Notebook


Many flavors of Jupyter Notebook.  A few popular ones:

* ![Jupyter](https://user-images.githubusercontent.com/58792/40282633-395be25c-5c27-11e8-9e40-357ea4216562.png)
* ![JupyterHug](https://user-images.githubusercontent.com/58792/40282632-387efe32-5c27-11e8-9f02-6f95f2fee223.png)
* ![Colab](https://user-images.githubusercontent.com/58792/40282631-384f8cf6-5c27-11e8-9209-3f0d22de0d81.png)
* ![Kaggle](https://user-images.githubusercontent.com/58792/40282634-3985c3a6-5c27-11e8-8c53-06fbdedce847.png)
* ![Sagemaker](https://user-images.githubusercontent.com/58792/40282635-39a3bdd4-5c27-11e8-81d5-6533a3b84771.png)

#### Hosted Commercial Flavors

* [Google Colaboratory](https://colab.research.google.com/notebook):  Free
* [Kaggle](https://www.kaggle.com/):  Free


#### Pure Open Source

* [Jupyter](http://jupyter.org/) standalone, original
* [JupyterHub](https://github.com/jupyterhub/jupyterhub) multi-user, docker friendly

#### Hybrid Solutions

* Running Jupyter on [AWS Spot Instances](https://aws.amazon.com/ec2/spot/)
* [Google Data Lab](https://cloud.google.com/datalab/)
* [Azure Data Science Virtual Machines](https://azure.microsoft.com/en-us/services/virtual-machines/data-science-virtual-machines/)
* [AWS Sagemaker](https://aws.amazon.com/sagemaker/)
* [Azure Machine Learning Studio](https://studio.azureml.net/)

#### Colab Notebook Key Features

* [12.1 Perform Colaboratory basics ](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_12_01)

* [12.2 Use Advanced Colab Features](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_12_02)

*  Can enable both TPU and GPU runtimes
*  Can upload regular Jupyter Notebooks into colab
*  Can have a Google Drive Full of Colab Notebooks
*  Can sync colab notebooks to Github.  Here is an example of a [gist of this notebook](https://gist.github.com/noahgift/c69200e05c057cf239fc7ea0be62e043)
*  Can connect to a [local runtime](https://research.google.com/colaboratory/local-runtimes.html)
* Can create [forms in Colab](https://colab.research.google.com/notebooks/forms.ipynb)

##### Mount GDrive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
import os;os.listdir("/content/gdrive/My Drive/awsml")

['kaggle.json', 'credentials', 'config', 'cloudai-7ab42a4d8a43.json']

#### Magic Commands

##### %timeit

In [6]:
too_many_decimals = 1.912345897

print("built in Python Round")
%timeit round(too_many_decimals, 2)

built in Python Round
The slowest run took 16.88 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 553 ns per loop

##### %alias

In [7]:
alias lscsv ls -l sample_data/*.csv

In [ ]:
lscsv

-rw-r--r-- 1 root root   301141 Dec 18 16:52 sample_data/california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Dec 18 16:52 sample_data/california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Dec 18 16:52 sample_data/mnist_test.csv
-rw-r--r-- 1 root root 36523880 Dec 18 16:52 sample_data/mnist_train_small.csv

[Reference These]
https://ipython.readthedocs.io/en/stable/interactive/magics.html

##### %who

Print variables

In [8]:
var1=1

In [9]:
who

too_many_decimals	 var	 var1

In [10]:
too_many_decimals

1.912345897

##### %writefile

In [11]:
%%writefile magic_stuff.py
import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
print(df.head())

Writing magic_stuff.py

In [12]:
cat magic_stuff.py

import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
print(df.head())

In [13]:
!python magic_stuff.py

   fat_100g  ...                         product
0     28.57  ...  Banana Chips Sweetened (Whole)
2     57.14  ...          Organic Salted Nut Mix
3     18.75  ...                  Organic Muesli
4     36.67  ...                   Zen Party Mix
5     18.18  ...            Cinnamon Nut Granola

[5 rows x 7 columns]

In [14]:
!pip install -q pylint

     |████████████████████████████████| 392 kB 7.5 MB/s
     |████████████████████████████████| 106 kB 36.6 MB/s
     |████████████████████████████████| 246 kB 45.3 MB/s
     |████████████████████████████████| 55 kB 3.8 MB/s
     |████████████████████████████████| 743 kB 43.8 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.6.0 requires typing-extensions~=3.7.4, but you have typing-extensions 3.10.0.2 which is incompatible.

In [15]:
!pylint magic_stuff.py

************* Module magic_stuff
magic_stuff.py:3:0: C0301: Line too long (109/100) (line-too-long)
magic_stuff.py:4:0: C0301: Line too long (110/100) (line-too-long)
magic_stuff.py:7:0: C0304: Final newline missing (missing-final-newline)
magic_stuff.py:1:0: C0114: Missing module docstring (missing-module-docstring)
magic_stuff.py:5:5: E1101: Instance of 'TextFileReader' has no 'drop' member (no-member)
magic_stuff.py:5:13: E1101: Instance of 'TextFileReader' has no 'index' member (no-member)

-------------------------------------
Your code has been rated at -13.33/10

##### Bash

In [16]:
%%bash
uname -a
ls
ps

Linux 163ed0cc67db 5.4.104+ #1 SMP Sat Jun 5 09:50:34 PDT 2021 x86_64 x86_64 x86_64 GNU/Linux
magic_stuff.py
sample_data
    PID TTY          TIME CMD
      1 ?        00:00:00 docker-init
      9 ?        00:00:01 node
     19 ?        00:00:00 tail
     66 ?        00:00:02 jupyter-noteboo
     67 ?        00:00:00 dap_multiplexer
     78 ?        00:00:06 python3
     98 ?        00:00:00 python3
    219 ?        00:00:00 bash
    222 ?        00:00:00 ps

In [17]:
!uname -a

Linux 163ed0cc67db 5.4.104+ #1 SMP Sat Jun 5 09:50:34 PDT 2021 x86_64 x86_64 x86_64 GNU/Linux

##### Python2

In [18]:
%%python2
print "old school"

old school

##### HTML

In [19]:
%%html
<h1>Only The Best Tags and People</h>

##### Upload to Colab

In [ ]:
!pip install --upgrade -q gspread

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('DevOp-Wonder').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame.from_records(rows)
df

[['1'], ['2'], ['3'], ['4'], ['5'], ['6'], ['7'], ['8'], ['9'], ['10']]

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [ ]:
df.median()

0    5.5
dtype: float64

Upload your file here (request.csv)

In [ ]:
from google.colab import files
uploaded = files.upload()

KeyboardInterrupt: ignored

In [ ]:
!ls -l

total 712
drwx------ 4 root root   4096 Sep  9 16:16 gdrive
-rw-r--r-- 1 root root    407 Sep  9 16:20 magic_stuff.py
-rw-r--r-- 1 root root 712814 Sep  9 16:24 pytorch.pptx
drwxr-xr-x 1 root root   4096 Aug 27 16:17 sample_data

In [ ]:
import pandas as pd
df = pd.read_csv("automl-tables_notebooks_census_income.csv")
df.head(2)

   age          workclass  fnlwgt  ... hours_per_week  native_country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K

[2 rows x 15 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/noahgift/sugar/master/data/education_sugar_cdc_2003.csv")
df.head()

                  State          Employed  ...      Some college  College graduate
0                Alaska  26.2 (23.6–28.9)  ...  24.2 (21.0–27.8)  12.9 (10.5–15.7)
1               Arizona  33.0 (28.5–37.8)  ...  24.4 (19.9–29.4)  14.6 (11.6–18.3)
2            California  22.9 (20.9–25.1)  ...  21.4 (18.8–24.2)   11.5 (9.8–13.5)
3           Connecticut  18.9 (17.1–20.9)  ...  19.9 (17.2–23.0)   10.2 (8.7–12.0)
4  District of Columbia  18.5 (15.7–21.7)  ...  28.9 (23.4–35.0)    8.4 (7.0–10.1)

[5 rows x 8 columns]

In [ ]:
df.describe()

           State          Employed  ...      Some college  College graduate
count         24                24  ...                24                24
unique        24                24  ...                23                24
top     New York  18.9 (17.1–20.9)  ...  24.2 (21.0–27.8)  14.6 (11.6–18.3)
freq           1                 1  ...                 2                 1

[4 rows x 8 columns]

##### Forms in Colab

In [20]:
Use_Python = False #@param ["False", "True"] {type:"raw"}

In [21]:
print(f"You select it is {Use_Python} you use Python")

You select it is False you use Python

#### Python executable

Can run scripts, REPL and even run python statements with -c flag and semicolon to string together multiple statements

In [22]:
!python -c "import os;print(os.listdir())"

['.config', 'magic_stuff.py', 'sample_data']

In [23]:
!ls -l

total 8
-rw-r--r-- 1 root root  407 Oct  7 12:15 magic_stuff.py
drwxr-xr-x 1 root root 4096 Sep 30 17:12 sample_data

In [ ]:
!pip install -q boto3

In [ ]:
#this is how you capture input to a program
import sys;sys.argv

['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py',
 '-f',
 '/root/.local/share/jupyter/runtime/kernel-10c490d0-6434-4157-b5c7-7cb291feb224.json']

### Introductory Concepts
*  **Procedural Statements**
*  Strings and String Formatting
*  Numbers and Arithmetic Operations
*  Data Structures

 #### Procedural Statements
 Procedural statements are literally statements that  can be issued one line at a time.  Below are types of procedural statements.  These statements can be run in:
 * Jupyter Notebook
 * IPython shell
 * Python interpreter
 * Python scripts

**Printing**

In [24]:
print("Hello world")

Hello world

**Create Variable and Use Variable**

In [25]:
variable = "armbar"
variable

'armbar'

**Multiple procedural statements**

In [26]:
attack_one = "kimura"
attack_two = "arm triangle"
print("In Brazilian Jiu Jitsu a common attack is a:", attack_one)
print("Another common attack is a:", attack_two)

In Brazilian Jiu Jitsu a common attack is a: kimura
Another common attack is a: arm triangle

**Adding Numbers**

In [27]:
1+1

2

**Adding Phrases**

In [28]:
"arm" + " bar"+" 4"+" morestuff " + "lemon"

'arm bar 4 morestuff lemon'

**Complex statements**

More complex statements can be created that use data structures like the belts variable, which is a list.

In [29]:
belts = ["white", "blue", "purple", "brown", "black"]
for belt in belts:
    if "black" in belt:
        print("The belt I want to be is:", belt)
    else:
        print("This is not the belt I want to end up at:", belt)

This is not the belt I want to end up at: white
This is not the belt I want to end up at: blue
This is not the belt I want to end up at: purple
This is not the belt I want to end up at: brown
The belt I want to be is: black

#### Strings and String Formatting

Strings are a sequence of characters and they are often programmatically formatted.  Almost all Python programs have strings because they can be used to send messages to users who use the program.  When creating strings there are few core concepts to understand:

* Strings can be create with the single, double and triple/double quotes
* Strings are can be formatted
* One complication of strings is they can be encoded in several formats including unicode
* Many methods are available to operate on strings.  In an editor or IPython shell you can see these methods by tab completion: 
```
basic_string.
            capitalize()   format()       islower()      lower()        rpartition()   title()         
            casefold()     format_map()   isnumeric()    lstrip()       rsplit()       translate()     
            center()       index()        isprintable()  maketrans()    rstrip()       upper()         
            count()        isalnum()      isspace()      partition()    split()        zfill()         
            encode()       isalpha()      istitle()      replace()      splitlines()                  
            endswith()     isdecimal()    isupper()      rfind()        startswith()                  
            expandtabs()   isdigit()      join()         rindex()       strip()                       
            find()         isidentifier() ljust()        rjust()        swapcase()        
```

In [30]:
my_string = "this is a string I am using this time"
#my_string.split()
#my_string.upper()
#my_string.title()
#my_string.count("this")

In [31]:
my_string.title()

'This Is A String I Am Using This Time'

In [32]:
my_string.capitalize()

'This is a string i am using this time'

In [33]:
my_string.isnumeric()

False

In [34]:
print(my_string)
var2 = my_string.swapcase()
print(var2)
print(var2.swapcase())

this is a string I am using this time
THIS IS A STRING i AM USING THIS TIME
this is a string I am using this time

**Basic String**

In [1]:
basic_string = "Brazilian Jiu Jitsu"

In [37]:
#basic_string.split?

**Splitting String**

Turn a string in a list by splitting on spaces, or some other thing

In [38]:
#split on spaces (default)
basic_string.split()

['Brazilian', 'Jiu', 'Jitsu']

In [39]:
result = basic_string.split()
len(result)

3

In [40]:
#split on hyphen
string_with_hyphen = "Brazilian-Jiu-Jitsu"
string_with_hyphen.split("-")

['Brazilian', 'Jiu', 'Jitsu']

In [41]:
#split on comma
string_with_hyphen = "Brazilian,Jiu,Jitsu"
string_with_hyphen.split(",")

['Brazilian', 'Jiu', 'Jitsu']

**All Capital**

Turn a string into all Capital Letter

In [42]:
basic_string.capitalize()

'Brazilian jiu jitsu'

**Slicing Strings**

Strings can be referenced by length and sliced

In [43]:
#Get the last character
basic_string[-1:]

'u'

In [44]:
len(basic_string[2:])

17

In [45]:
#Get length of string
len(basic_string)

19

In [46]:
basic_string[-18:]

'razilian Jiu Jitsu'

**Strings Can Be Added Together**

In [3]:
%who

basic_string

In [4]:
basic_string + " is my favorite Martial Art"

'Brazilian Jiu Jitsu is my favorite Martial Art'

In [2]:
items = ["-",1,2,3]
for item in items:
  basic_string += str(item)
basic_string

'Brazilian Jiu Jitsu-123'

In [3]:
"this is a string format: %s" % "wow"

'this is a string format: wow'

**F-Strings Can Be Formatted in More Complex Ways**

One of the best ways to format a string in modern Python 3 is to use f-strings

In [4]:
f'I love practicing my favorite Martial Art, {basic_string}'

'I love practicing my favorite Martial Art, Brazilian Jiu Jitsu-123'

**Strings Can Use Triple Quotes to Wrap**

In [5]:
f"""
This phrase is multiple sentenances long.
There phrase can be formatted like simpler sentances,
for example, I can still talk about my favorite Martial Art {basic_string}
"""

'\nThis phrase is multiple sentenances long.\nThere phrase can be formatted like simpler sentances,\nfor example, I can still talk about my favorite Martial Art Brazilian Jiu Jitsu-123\n'

**Line Breaks Can Be Removed with Replace**

The last long line contained line breaks, which are the **\n** character, and they can be removed by using the replace method

In [6]:
f"""
This phrase is multiple sentenances long.
There phrase can be formatted like simpler sentances,
for example, I can still talk about my favorite Martial Art {basic_string}
""".replace("\n", " ")

' This phrase is multiple sentenances long. There phrase can be formatted like simpler sentances, for example, I can still talk about my favorite Martial Art Brazilian Jiu Jitsu-123 '

#### Numbers and Arithmetic Operations

Python is also a built-in calculator. Without installing any additional libraries it can do many simple and complex arithmetic operations.

**Adding and Subtracting Numbers**

In [7]:
steps = (1+1)-1
print(f"Two Steps Forward:  One Step Back = {steps}")

Two Steps Forward:  One Step Back = 1

**Multiplication with Decimals**

Can use float type to solve decimal problems

In [8]:
body_fat_percentage = 0.10
weight = 200
fat_total = body_fat_percentage * weight
print(f"I weight 200lbs, and {fat_total}lbs of that is fat")

I weight 200lbs, and 20.0lbs of that is fat

Can also use Decimal Library to set precision and deal with repeating decimal

In [9]:
from decimal import (Decimal, getcontext)

getcontext().prec = 5
Decimal(1)/Decimal(3)

Decimal('0.33333')

**Using Exponents**

Using the Python math library it is straightforward to call 2 to the 3rd power

In [10]:
import math
math.pow(2,4)

16.0

Can also use built in exponent operator to accomplish same thing

In [11]:
2**4

16

In [ ]:
2**4

16

this is regular multiplication

In [12]:
2*3

6

**Converting Between different numerical types**

There are many numerical forms to be aware of in Python.
A couple of the most common are:

* Integers
* Floats

In [13]:
number = 100
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100 is type [int]

In [14]:
number = float(100)
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100.0 is type [float]

In [15]:
num2 = 100.20
type(num2)

float

In [16]:
class Foo:pass
f = Foo()

In [17]:
type(f)

__main__.Foo

**Numbers can also be rounded**

Python Built in round

In [18]:
too_many_decimals = 1.912345897
round(too_many_decimals, 6)
#get more info
#round?

1.912346

Numpy round

In [19]:
import numpy as np
np.round(too_many_decimals, 6)

1.912346

Pandas round

In [20]:
import pandas as pd
df = pd.DataFrame([too_many_decimals], columns=["A"], index=["first"])
df.round(2)

          A
first  1.91

Simple benchmark of all three (**Python**, **numpy** and **Pandas** round):   using **%timeit**

*Depending on what is getting rounded (i.e. a very large DataFrame, performance may very, so knowing how to benchmark performance is important with round) *

In [21]:
print("built in Python Round")
%timeit round(too_many_decimals, 2)

print("numpy round")
%timeit np.round(too_many_decimals, 2)

print("Pandas DataFrame round")
%timeit df.round(2)

built in Python Round
The slowest run took 31.69 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 524 ns per loop
numpy round
The slowest run took 10.71 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 5: 8.44 µs per loop
Pandas DataFrame round
1000 loops, best of 5: 756 µs per loop

### Presentation: Lists and Dictionaries
Python has a couple of core Data Structures that are used very frequently

* Lists
* Dictionaries

Dictionaries and lists are the real workhorses of Python, but there are also other Data Structers like tuples, sets, Counters, etc, that are worth exploring too.

#### Python Dictionaries

The workhorse of Python datastructures

##### Creating Python Dictionaries

Creating Python Dictionaries can be done with* brackets {}*

In [24]:
#bad_dictionary = {[2]:"one"}

In [25]:
new_dictionary = {"one":1}

In [26]:
submissions = {"armbar": "upper_body", 
               "arm_triangle": "upper_body", 
               "heel_hook": "lower_body", 
               "knee_bar": "lower_body"}
#type(submissions)
#submissions.items?
submissions

{'arm_triangle': 'upper_body',
 'armbar': 'upper_body',
 'heel_hook': 'lower_body',
 'knee_bar': 'lower_body'}

In [28]:
new_dict =dict(upper_body="lower_body")
new_dict

{'upper_body': 'lower_body'}

##### Using Python Dictionaries
A common dictionary usage pattern is to *iterate* on a dictionary by using the items method. In the example below the key and the value are printed:

In [ ]:
#submissions.items?

In [29]:
for submission, body_part in submissions.items():
    print(f"The {submission} is an attack on the {body_part}")

The armbar is an attack on the upper_body
The arm_triangle is an attack on the upper_body
The heel_hook is an attack on the lower_body
The knee_bar is an attack on the lower_body

Dictionaries can also be used to *filter*.  In the example below, only the submission attacks on the lower body are displayed:

In [30]:
for _, body_parts in submissions.items():
  print(body_parts)

upper_body
upper_body
lower_body
lower_body

In [31]:
print(f"These are lower_body submission attacks in Brazilian Jiu Jitsu:")
for submission, body_part in submissions.items():
    if body_part == "lower_body":
        print(submission)

These are lower_body submission attacks in Brazilian Jiu Jitsu:
heel_hook
knee_bar

Dictionary keys and values can also be selected with built in *keys() * and *values()* methods

In [32]:
print(f"These are keys: {submissions.keys()}")
print(f"These are values: {submissions.values()}")

These are keys: dict_keys(['armbar', 'arm_triangle', 'heel_hook', 'knee_bar'])
These are values: dict_values(['upper_body', 'upper_body', 'lower_body', 'lower_body'])

Key lookup is very performant, and one of the most common ways to use a dictionary.

In [33]:
if "armbar" in submissions:
  print("found key")

found key

In [34]:
print("timing key membership")
%timeit if "armbar" in submissions: pass

timing key membership
The slowest run took 27.96 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 5: 53.7 ns per loop

#### Python Lists

Lists are also very commonly used in Python. They allow for sequential collections. Lists can hold dictionaries, just as dictionaries can hold lists.

##### Creating Lists

One way to create lists is with *[] syntax*

In [35]:
list_of_bjj_positions = ["mount", "full-guard", "half-guard", 
                         "turtle", "side-control", "rear-mount", 
                         "knee-on-belly", "north-south", "open-guard"]

Another method os creating lists is with built in *list()* method

In [36]:
bjj_dominant_positions = list()
bjj_dominant_positions.append("side-control")
bjj_dominant_positions.append("mount")
bjj_dominant_positions

['side-control', 'mount']

Yet another way, very performant way to create lists is to use list comprehension syntax

In [37]:
guards = "full, half, open"
guard_list = [f"{guard}-guard" for guard in guards.split(",")]
guard_list

['full-guard', ' half-guard', ' open-guard']

##### Using Lists

For loops are one of the simplist ways to use a list.

In [39]:
for position in list_of_bjj_positions:
    if "open" in position: #explore on your own "guard"
        print(position)

open-guard

Lists can also be used to select elements by slicing.

In [40]:
print(f'First position: {list_of_bjj_positions[:1]}')
print(f'Last position: {list_of_bjj_positions[-1:]}')
print(f'First three positions: {list_of_bjj_positions[0:3]}')

First position: ['mount']
Last position: ['open-guard']
First three positions: ['mount', 'full-guard', 'half-guard']

Lists can also be used to unpack powerful, succinct statements when used with built-in functions like zip.

In [41]:
bjj_position_matrix = [
    ["dominant", "top-mount", "back-mount", "side-control"],
    ["neutral", "open-guard", "full-guard", "standing"],
    ["weak", "turtle", "bottom-back-mount", "bottom-mount"]
]
list(zip(*bjj_position_matrix))

[('dominant', 'neutral', 'weak'),
 ('top-mount', 'open-guard', 'turtle'),
 ('back-mount', 'full-guard', 'bottom-back-mount'),
 ('side-control', 'standing', 'bottom-mount')]

In [ ]:
zip?

#### Python Sets

Sets are unordered unique collections

##### Creating Python Sets

Sets can be created by using built-in *sets()* method

In [42]:
unique_attacks = set(("armbar","armbar", "armbar", "kimura", "kimura", "heel hook"))
print(type(unique_attacks))
unique_attacks

<class 'set'>

{'armbar', 'heel hook', 'kimura'}

##### Using Sets

One of the most powerful ways to use sets is to find the differences between to collections

In [43]:
attacks_set_one = set(("armbar", "kimura", "heal-hook"))
attacks_set_two = set(("toe-hold", "knee-bar", "heal-hook"))
unique_set_one_attacks = attacks_set_one - attacks_set_two
print(f"Unique Set One Attacks {unique_set_one_attacks}")

Unique Set One Attacks {'armbar', 'kimura'}

### Exercise: Write a dictionary with a mutable key.

In [ ]:
good = {'one': 'two'}

In [ ]:
# A list is mutable
var = ["two"]
badone = {var:"two"}

TypeError: ignored

In [ ]:
# be careful about mutating objects
class Foo:pass
foo = Foo()

bad_two = {foo: "two"}

In [ ]:
# try out why this is weird

def fun():pass
bad_three = {fun:"one"}

What about __name__

```
def hello()
    return "hi"

if __name__ == "__main__":
    hello()
```

Packaging Structure

```
mylib/__init__.py
mylib/module.py
```

`module.py`
```
def stuff():pass
```

import this code
```
from mylib.module import stuff
```

### Presentation: Functions, Lazy Expressions, Async and Concurrency

* [Read related material covered in Chapter 1 (Functions Section) of Pragmatic AI](https://www.safaribooksonline.com/library/view/pragmatic-ai-an/9780134863924/ch01.xhtml#ch01lev1sub17)

* [Watch video section 2:  Writing and Applying Functions](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_02_00) 

*  **Writing Functions**
*  Function arguments:  positional, keyword
*  Functional Currying:  Passing uncalled functions
*  Functions that Yield
*  Decorators:  Functions that wrap other functions
*  Making Classes Behave Like Functions
*  Applying a Function to a Pandas DataFrame
*  Writing Lambdas

#### Writing Functions
Learning to write a function is the most fundamental skill to learn in Python.  With a basic mastery of functions, it is possible to have an almost full command of the language.

**Simple function**

The simplest functions just return a value.

In [ ]:
def favorite_martial_art():
    return "bjj"

In [ ]:
print(favorite_martial_art())
# This is the same output
my_variable = "bjj"
my_variable

bjj

'bjj'

In [ ]:
def myfunc():pass

In [ ]:
res = myfunc()
print(res)
#result = myfunc()
#print(result)

None

**Documenting Functions**

It is a very good idea to document functions.  
In Jupyter Notebook and IPython docstrings can be viewed by referring to the function with a ?.  ie.

```
In [2]: favorite_martial_art_with_docstring?
Signature: favorite_martial_art_with_docstring()
Docstring: This function returns the name of my favorite martial art
File:      ~/src/functional_intro_to_python/<ipython-input-1-bef983c31735>
Type:      function
```

In [ ]:
def favorite_martial_art_with_docstring():
    """This function returns the name of my favorite martial art
    This is more
    This is even more
    return "string"
    """
    return "bjj"

**Docstrings of functions can be printed out by referring to *```__doc__```***

In [ ]:
favorite_martial_art_with_docstring.__doc__
#favorite_martial_art_with_docstring?

'This function returns the name of my favorite martial art\n    This is more\n    This is even more\n    return "string"\n    '

In [ ]:
#favorite_martial_art_with_docstring?

#### Function arguments: positional, keyword

A function is most useful when arguments are passed to the function. New values for times are processed inside the function. This function is also a 'positional' argument, vs a keyword argument. Positional arguments are processed in the order they are created in.

In [ ]:
def practice(times):
    print(f"I like to practice {times} times a day")

In [ ]:
practice(2)

I like to practice 2 times a day

In [ ]:
practice(3)

I like to practice 3 times a day

**Positional Arguments are processed in order**

Note, *position* is the key to pay attention to.

In [ ]:
def practice(times, technique, duration):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [ ]:
practice(3, "piano", 45)

I like to practice piano, 3 times a day, for 45 minutes

In [ ]:
#Order is important, now the entire is incorrect and prints out nonsense
practice("piano", 7,60)

I like to practice 7, piano times a day, for 60 minutes

**Keyword Arguments are processed by key, value and can have default values**

One handy feature of keyword arguments is that you can set defaults and only change the defaults you want to change.

In [ ]:
def practice(times=2, technique="python", duration=60):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [ ]:
practice()

I like to practice python, 2 times a day, for 60 minutes

In [ ]:
practice(duration=90, times=4)

I like to practice python, 4 times a day, for 90 minutes

*****args and ****kwargs

allow dynamic argument passing to functions
Should be used with discretion because it can make code hard to understand

In [ ]:
def attack_techniques(**kwargs):
    """This accepts any number of keyword arguments"""
    
    for name, attack in kwargs.items():
        print(f"This is an attack I would like to practice: {attack}")

In [ ]:
attack_techniques(arm_attack="kimura", 
                  leg_attack="straight_ankle_lock", 
                  neck_attack="arm_triangle",
                 body_attack="charge")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: charge

In [ ]:
#I also can pass as many things as I wants
attack_techniques(arm_attack="kimura", 
                  leg_attack="straight_ankle_lock", 
                  neck_attach="arm_triangle",
                  attack4="rear nake choke", attack5="key lock")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: rear nake choke
This is an attack I would like to practice: key lock

**passing dictionary of keywords to function**

**kwargs syntax can also be used to pass in arguments all at once

In [ ]:
attacks = {"arm_attack":"kimura", 
           "leg_attack":"straight_ankle_lock", 
           "neck_attach":"arm_triangle"}

In [ ]:
attack_techniques(**attacks)

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle

**Passing Around Functions**

Object-Oriented programming is a very popular way to program, but it isn't the only style available in Python. For concurrency and for Data Science, functional programming fits as a complementary style.

In the example, below a function can be used inside of another function by being passed into the function itself as an argument.

In [ ]:
def attack_location(technique):
    """Return the location of an attack"""
    
    attacks = {"kimura": "arm_attack",
           "straight_ankle_lock":"leg_attack", 
           "arm_triangle":"neck_attach"}
    if technique in attacks:
        return attacks[technique]
    return "Unknown"

In [ ]:
attack_location("kimura")

'arm_attack'

In [ ]:
attack_location("bear hug")

'Unknown'

In [ ]:
def multiple_attacks(attack_location_function):
    """Takes a function that categorizes attacks and returns location"""
    
    new_attacks_list = ["rear_naked_choke", "americana", "kimura"]
    for attack in new_attacks_list:
        attack_location = attack_location_function(attack)
        print(f"The location of attack {attack} is {attack_location}")

In [ ]:
multiple_attacks(attack_location)

The location of attack rear_naked_choke is Unknown
The location of attack americana is Unknown
The location of attack kimura is arm_attack

#### Closures and Functional Currying

Closures are functions that contain other nested functions with state from outer function.

In Python, a common way to use them is to keep track of the state. In the example below, the outer function, attack_counter keeps track of counts of attacks. The inner fuction attack_filter uses the "nonlocal" keyword in Python3, to modify the variable in the outer function.

This approach is called "functional currying". It allows for a specialized function to be created from general functions. As shown below, this style of function could be the basis of a simple video game or maybe for the statistics crew of a mma match.

In [ ]:
#nonlocal cannot modify this variable
#lower_body_counter=5
def attack_counter():
    """Counts number of attacks on part of body"""
    lower_body_counter = 0
    upper_body_counter = 0
    #print(lower_body_counter)
    def attack_filter(attack):
        nonlocal lower_body_counter
        nonlocal upper_body_counter
        attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
        if attack in attacks:
            if attacks[attack] == "upper_body":
                upper_body_counter +=1
            if attacks[attack] == "lower_body":
                lower_body_counter +=1
        print(f"Upper Body Attacks {upper_body_counter}, Lower Body Attacks {lower_body_counter}")
    return attack_filter

In [ ]:
fight = attack_counter()

In [ ]:
type(fight)

function

In [ ]:
fight("kimura")

Upper Body Attacks 1, Lower Body Attacks 0

In [ ]:
fight("knee_bar")

Upper Body Attacks 1, Lower Body Attacks 1

In [ ]:
fight("keylock")

Upper Body Attacks 2, Lower Body Attacks 1

#### Partial Functions

Useful to partial assign default values to functions

In [ ]:
from functools import partial

def multiple_attacks(attack_one, attack_two):
  """Performs two attacks"""
  
  print(f"First Attack {attack_one}")
  print(f"Second Attack {attack_two}")
  
attack_this = partial(multiple_attacks, "kimura")
type(attack_this)

functools.partial

By using this partial function, only one argument is needed

In [ ]:
attack_this("knee-bar")

First Attack kimura
Second Attack knee-bar

Alternately, the original function can also be called with a different two attacks

In [ ]:
multiple_attacks("Darce Choke", "Bicep Slicer")

First Attack Darce Choke
Second Attack Bicep Slicer

#### Lazy Evaluated Functions (Generators)

A very useful style of programming is "lazy evaluation". A generator is an example of that. Generators yield an items at a time.

The example below return an "infinite" random sequence of attacks. The lazy portion comes into play in that while there is an infinite amount of values, they are only returned when the function is called.

In [ ]:
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [ ]:
attack = lazy_return_random_attacks()

In [ ]:
type(attack)

generator

In [ ]:
for _ in range(6):
    print(next(attack))

['arm_triangle']
['arm_triangle']
['arm_triangle']
['arm_triangle']
['knee_bar']
['arm_triangle']

#### Decorators:   Functions that wrap other functions

##### Randomized Sleep Decorator

Another useful technique in Python is to use the decorator syntax to wrap one function with another function. In the example below, a decorator is written that adds random sleep to each function call. When combined with the previous "infinite" attack generator, it generates random sleeps between each function call.

In [ ]:
def randomized_speed_attack_decorator(function):
    """Randomizes the speed of attacks"""
    
    import time
    import random
    
    def wrapper_func(*args, **kwargs):
        sleep_time = random.randint(0,3)
        print(f"Attacking after {sleep_time} seconds")
        time.sleep(sleep_time)
        return function(*args, **kwargs)
    return wrapper_func

In [ ]:
@randomized_speed_attack_decorator
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [ ]:
for _ in range(5):
    print(next(lazy_return_random_attacks()))

Attacking after 3 seconds
['arm_triangle']
Attacking after 3 seconds
['straight_ankle_lock']
Attacking after 1 seconds
['knee_bar']
Attacking after 1 seconds
['keylock']
Attacking after 2 seconds
['straight_ankle_lock']

##### Timing Decorator

Using a decorator to time code is very common

In [ ]:
from functools import wraps
from time import time

def timing(f):
    @wraps(f)
    def wrap(*args, **kw):
        ts = time()
        result = f(*args, **kw)
        te = time()
        print(f"fun: {f.__name__}, args: [{args}, {kw}] took: {te-ts} sec")
        return result
    return wrap

Using decorator to time execution of a function

In [ ]:
@timing
def some_attacks(foo):
  print(f"this was passed in: {foo}")
  attack = lazy_return_random_attacks()
  for _ in range(5):
    print(next(attack))
    
some_attacks("bar")

this was passed in: bar
Attacking after 0 seconds
['arm_triangle']
['kimura']
['knee_bar']
['keylock']
['kimura']
fun: some_attacks, args: [('bar',), {}] took: 0.0030469894409179688 sec

#### Making Classes Behave Like Functions

Creating callable functions

In [ ]:
class AttackFinder:
  """Finds the attack location"""
  
  
  def __init__(self, attack):
    self.attack = attack
  
  def __call__(self):
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    if not self.attack in attacks:
      return "unknown location"
    return attacks[self.attack]

In [ ]:
my_attack = AttackFinder("kimura")
my_attack()

'upper_body'

#### Applying Functions to Pandas DataFrames

The final lesson on functions is to take this knowledge and use it on a DataFrame in Pandas. One of the more fundamental concepts in Pandas is use apply on a column vs iterating through all of the values. An example is shown below where all of the numbers are rounded to a whole digit.

In [ ]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris['rounded_sepal_length'] = iris[['sepal_length']].apply(pd.Series.round)
iris.head()

   sepal_length  sepal_width  ...  species  rounded_sepal_length
0           5.1          3.5  ...   setosa                   5.0
1           4.9          3.0  ...   setosa                   5.0
2           4.7          3.2  ...   setosa                   5.0
3           4.6          3.1  ...   setosa                   5.0
4           5.0          3.6  ...   setosa                   5.0

[5 rows x 6 columns]

In [ ]:
iris.shape

(150, 6)

This was done with a built in function, but a custom function can also be written and applied to a column. In the example below, the values are multiplied by 100. The alternative way to accomplish this would be to create a loop, transform the data and then write it back. In Pandas, it is straightforward and simple to apply custom functions instead.

In [ ]:
def multiply_by_100(x):
    """Multiplies by 100"""
    
    res = x * 100
    #print(f"This was passed in {x}, and this result was generated {res}")
    return res
  
  
iris['100x_sepal_length'] = iris[['sepal_length']].apply(multiply_by_100)
iris.head()

   sepal_length  sepal_width  ...  rounded_sepal_length  100x_sepal_length
0           5.1          3.5  ...                   5.0              510.0
1           4.9          3.0  ...                   5.0              490.0
2           4.7          3.2  ...                   5.0              470.0
3           4.6          3.1  ...                   5.0              460.0
4           5.0          3.6  ...                   5.0              500.0

[5 rows x 7 columns]

In [ ]:
iris["new_column"] = iris[['sepal_length']]
iris.head()

   sepal_length  sepal_width  ...  100x_sepal_length  new_column
0           5.1          3.5  ...              510.0         5.1
1           4.9          3.0  ...              490.0         4.9
2           4.7          3.2  ...              470.0         4.7
3           4.6          3.1  ...              460.0         4.6
4           5.0          3.6  ...              500.0         5.0

[5 rows x 8 columns]

In [ ]:
iris.groupby("species").max()

            sepal_length  sepal_width  ...  100x_sepal_length  new_column
species                                ...
setosa               5.8          4.4  ...              580.0         5.8
versicolor           7.0          3.4  ...              700.0         7.0
virginica            7.9          3.8  ...              790.0         7.9

[3 rows x 7 columns]

In [ ]:
#iris.apply(pd.Series.round, axis=1)

In [ ]:
#def sepal_category(x):
  
#  if x == 4:
#  return "big"

#iris['sepal_category'] = iris[['sepal_width']].apply(sepal_category)
#iris.head()

In [ ]:
#example of a smarter function
def smart_multiply_by_100(x):
  if x > 5:
    return 1
  return x

inputs = [1,2,6,10]
for input in inputs:
  print(smart_multiply_by_100(input))

1
2
1
1

#### Writing Lambdas

Generally considered to be unnecessary.  A Python lambda is an inline python and it can often lead to confusing code.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
func = lambda x: x**2
func(4)

16

In [ ]:
def regular_func(x):
  return x**2

regular_func(4)

16

In [ ]:
def regular_func2(x):
  """This makes my variable go to the second power"""
  return x**2

In [ ]:
regular_func2(2)

4

In [ ]:
import random

In [ ]:
random.seed

### Exercise: Write a function that returns infinite values

In [ ]:
def forever():
    while True:
        yield 1

In [ ]:
res = forever()
type(res)

generator

In [ ]:
next(res)

1

In [ ]:
#Finite
def not_forever():
    vars = [1,2,3,5]
    for var in vars:
        yield var

In [ ]:
res2 = not_forever()

In [ ]:
next(res2)

StopIteration: ignored

### Exercise: Capture the output of a shell command using the ! operator and parse with SList grep

In [ ]:
!ls -l

total 12
-rw-r--r-- 1 root root 2610 Jan  8 13:34 adc.json
-rw-r--r-- 1 root root  407 Jan  8 13:27 magic_stuff.py
drwxr-xr-x 1 root root 4096 Dec 18 16:52 sample_data

In [ ]:
directory_listing = !ls -l
type(directory_listing)

IPython.utils.text.SList

In [ ]:
directory_listing.grep(".py")

['-rw-r--r-- 1 root root  407 Jan  8 13:27 magic_stuff.py']

Q/A: HOW DO I CONTINUE TO A NEW LINE

In [ ]:
var = """This is a a very long string
 and it needs to be continued"""

In [ ]:
long_list = [12,3,5,
             6,7,7,8]

In [ ]:
#\

## Automating Text and Filesystem

### Presentation: Reading, Writing and Using files: TXT, CSV, and YAML

#### Writing to a file

* *[Watch Video Lesson 6.1:  Use write file operations](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_06_01)*

In [ ]:
f = open('workfile.txt', 'w')
f.write("foo20\n")
f.write("foo3\n")
f.write("foo4\n")
f.close()
!cat workfile.txt

#!ls -l

foo20
foo3
foo4

In [ ]:
my_writes = ["foo2\n","foo3\n","foo4\n"]
f = open('workfile2.txt', 'w')
for line in my_writes:
  f.write(line)
f.close()
!cat workfile2.txt

foo2
foo3
foo4

#### Writing to a file with 'context'

In [ ]:
with open("workfile.txt", "w") as workfile:
    workfile.write("bam")
!cat workfile.txt

bam

#### Reading a file in

* *[Watch Video Lesson 6.2:  Use read file operations](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_06_02)*

In [ ]:
f = open("workfile.txt", "r")
out = f.readlines() #r.read() works as well
# Maybe we want to create a generator pipeline
for line in out:
  print(line)
  #  yield line
f.close()
print(out)

bam
['bam']

#### Reading a file with 'context'

In [ ]:
with open("workfile.txt", "r") as workfile:
    print(workfile.readlines())
    #print(workfile.read())

['bam']

#### Serialize a Python Dictionary to Pickle

In [ ]:
mydict = {"one":1, "two":2}

In [ ]:
import pickle

In [ ]:
pickle.dump(mydict, open('mydictionary.pickle', 'wb'))

In [ ]:
!ls -lh mydictionary.pickle

-rw-r--r-- 1 root root 32 Jan  8 15:14 mydictionary.pickle

In [ ]:
#!cat mydictionary.pickle

In [ ]:
res = pickle.load(open('mydictionary.pickle', "rb"))

In [ ]:
print(res)

{'one': 1, 'two': 2}

#### Serialize a Python Dictionary to JSON

In [ ]:
import json
with open('data.json', 'w') as outfile:
    json.dump(res, outfile)

In [ ]:
!cat data.json

{"one": 1, "two": 2}

In [ ]:
with open('data.json', 'rb') as outfile:
    res2 = json.load(outfile)

In [ ]:
print(res2)
type(res2)

{'one': 1, 'two': 2}

dict

#### Save to Yaml

In [ ]:
import yaml

In [ ]:
with open("data.yaml", "w") as yamlfile:                                               
    yaml.safe_dump(res2, yamlfile, default_flow_style=False)

In [ ]:
!cat data.yaml

one: 1
two: 2

#### Load Yaml

In [ ]:
with open("data.yaml", "rb") as yamlfile:                                               
    res3 = yaml.safe_load(yamlfile)

In [ ]:
print(res3)
type(res3)

{'one': 1, 'two': 2}

dict

### TO DO Protobuff Example

### Exercise: Read and Write a YAML file

In [ ]:
new_variable = {"IP_Address": "Hostname"}
with open("hosts.yaml", "w") as yamlfile:
     yaml.safe_dump(new_variable, yamlfile, default_flow_style=False)

In [ ]:
!cat hosts.yaml

IP_Address: Hostname

Q: So what is the difference between pickle and json libraries? they seem to do the same thing?![alt text](![alt text](https://))

In [ ]:
var = {"one":"two"}
pickle.dump(var, open('unreadable.pickle', 'wb'))

In [ ]:
!ls -lh unreadable.pickle

-rw-r--r-- 1 root root 27 Nov 11 14:53 unreadable.pickle

In [ ]:
with open('var.json', 'w') as outfile:
    json.dump(var, outfile)

In [ ]:
!ls -lh var.json

-rw-r--r-- 1 root root 14 Nov 11 14:55 var.json

Q:  How would you really compare pickle size vs JSON (test it out)..?

### Presentation: Managing files and directories using os.path and pathlib

In [ ]:
# Make some dirs
import pathlib
import os

path = "somedir"
#Depending on the script you are writing maybe you want this False
pathlib.Path(path).mkdir(parents=True, exist_ok=True)

In [ ]:
ls -la somedir

total 12
drwxr-xr-x 2 root root 4096 Jan  8 15:20 ./
drwxr-xr-x 1 root root 4096 Jan  8 15:20 ../

In [ ]:
import pathlib
pathvar = pathlib.Path("newfile.txt")
pathvar2 = pathlib.Path("somedir")

Check if path exists?

In [ ]:
pathvar.exists()

False

In [ ]:
pathvar2.exists()

True

In [ ]:
pathvar.write_text("foo")

3

In [ ]:
cat newfile.txt

foo

### Exercise: Use pathlib to rename files

In [ ]:
from pathlib import Path
p = Path('foo.txt')
p.open('w').write('bam')

#This file is created
print("Before rename")
!ls -l *.txt

out = Path('bar.txt')
p.rename(out)

#It is renamed
print("After rename")
!ls -l *.txt
#!rm bar.txt

Before rename
-rw-r--r-- 1 root root  3 Jan  8 15:25 foo.txt
-rw-r--r-- 1 root root  3 Jan  8 15:23 newfile.txt
-rw-r--r-- 1 root root 15 Jan  8 15:11 workfile2.txt
-rw-r--r-- 1 root root  3 Jan  8 15:12 workfile.txt
After rename
-rw-r--r-- 1 root root  3 Jan  8 15:25 bar.txt
-rw-r--r-- 1 root root  3 Jan  8 15:23 newfile.txt
-rw-r--r-- 1 root root 15 Jan  8 15:11 workfile2.txt
-rw-r--r-- 1 root root  3 Jan  8 15:12 workfile.txt

In [ ]:
cat bar.txt

bam

In [ ]:
mypath = Path('bar.txt')

Try things out

In [ ]:
mypath.absolute()

PosixPath('/content/bar.txt')

In [ ]:
mypath.cwd()

PosixPath('/content')


Fnmatch
```python
import fnmatch

files = ["data1.csv", "script.py", "image.png", "data2.csv", "all.py"]


def csv_matches(files):
    """Return matches for csv files"""

    matches = fnmatch.filter(files, "*.csv")
    return matches


# Print matches to pattern
print(f"Found matches: {csv_matches(files)}")
```

Archive?



```python
from shutil import make_archive
import os

username = "user1"
root_dir = "/tmp"
# archive path
path = f"{root_dir}/{username}"

# create tar and gzipped archive
make_archive(username, "gztar", root_dir)

# create zip archive
make_archive(username, "zip", root_dir)

print(os.listdir("/tmp"))
```

### Presentation: Walking directory trees using os.walk

Example from standard library docs...but lets change.

```python
import os
from os.path import join, getsize
for root, dirs, files in os.walk('somedir'):
    print(root, "consumes", end=" ")
    print(sum(getsize(join(root, name)) for name in files), end=" ")
    print("bytes in", len(files), "non-directory files")
    if 'CVS' in dirs:
        dirs.remove('CVS')  # don't visit CVS directories
```

These are the hooks to walk the file system...

In [ ]:
import os
from os.path import join, getsize
for root, dirs, files in os.walk('sample_data'):
    print(f"files I found: {files}")
    #full path
    for name in files:
        full_path = join(root, name)
        print(f"full path to files: {full_path}")

files I found: ['README.md', 'anscombe.json', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv', 'california_housing_train.csv']
full path to files: sample_data/README.md
full path to files: sample_data/anscombe.json
full path to files: sample_data/mnist_test.csv
full path to files: sample_data/mnist_train_small.csv
full path to files: sample_data/california_housing_test.csv
full path to files: sample_data/california_housing_train.csv

### Presentation: Getting stat information on files and directories

Use the same technique to explore the stat methods

In [ ]:
import os
location = "sample_data/anscombe.json"
result = os.stat(location)

In [ ]:
result.st_gid

0

In [ ]:
result.st_size

1697

### Subprocess.run



```python
import subprocess
import shlex

print("Enter a list of directories to calculate storage total: \n")
user_input = "pluto mars jupyter"
sanitized_user_input = shlex.split(user_input)
print(f"raw_user_input: {user_input} |  sanitized_user_input: {sanitized_user_input}")
cmd = ["du", "-sh", "--total"]
cmd.extend(sanitized_user_input)
print(f"cmd: {cmd}")
disk_total = subprocess.run(cmd, stdout=subprocess.PIPE)
print(disk_total)
```


# Example health check
```python
import subprocess
import os

# setup
file_location = "/tmp/file.txt"
expected_uid = 501
# touch a file
proc = subprocess.Popen(["touch", file_location])

# check user permissions
stat = os.stat(file_location)
```

### Presentation: Finding files: duplicates, globbing, and patterns


#subprocess find
```python
import subprocess

print("Enter a path to search for directories: \n")
user_input = input()
print(f"user_input: {user_input}")
with subprocess.Popen(
    ["find", user_input, "-type", "d"], stdout=subprocess.PIPE
) as find:
    result = find.stdout.readlines()
    for line in result:
        print(f"Found Directory: {line}")
```

In [ ]:
!touch foo.csv && touch bar.txt
import glob
glob.glob("*.csv")

['foo.csv']

### Exercise: Find files using glob

In [ ]:
path = "sample_data"
results = glob.glob(f"{path}/*.csv")

#how many many CSV did you find?
print(len(results))
results

4

['sample_data/mnist_test.csv',
 'sample_data/mnist_train_small.csv',
 'sample_data/california_housing_test.csv',
 'sample_data/california_housing_train.csv']

In [ ]:
path = "sample_data"
results = glob.glob(f"{path}/*.json")

#how many many CSV did you find?
print(len(results))
results

1

['sample_data/anscombe.json']

## Developing with the Command Line

### Presentation: Setting up a Python project with VSCode and pip


Setup Virtual Environment workflow
```
    1  python3
    2  sudo yum update
    3  python3 -m venv ~/.python-devops-course
    4  which python3
    5  source ~/.python-devops-course/bin/activate
    6  which python3
    7  python3
    8  history
```

### Presentation: Using sys.argv

### Exercise: Write a command-line tool with sys.argv

### Presentation: Using click CLI Framework

### Write a command-line tool with click

Reference:  https://click.palletsprojects.com/en/5.x/quickstart/

In [ ]:
%%writefile hello-click.py
import click

@click.command()
def hello():
    click.echo('Hello World!')

if __name__ == '__main__':
    hello()

Writing hello-click.py

In [ ]:
!python hello-click.py

Hello World!

### Presentation: click, subprocess.run, and mixing shell and Python together

## Continuous Integration and Delivery

### Presentation: Creating Makefiles

### Exercise: Create a Makefile

### Presentation: Creating Python virtualenv

### Exercise: Create and use virtualenv

### Presentation: Linting and testing Python code with Pylint and PyTest

### Exercise: Lint code with Pylint

### Presentation: Configuring CircleCI Continuous Integration with Github

### Exercise: Setup github repo to build with CircleCI

### Presentation: What is Continuous Delivery?